<button class="btn-success" (click)="openPopup()" style="float: right; margin: 20px;">Preview</button>
<div>
    <form [formGroup]="registerForm" (ngSubmit)="registerUser()" class="card container" style="margin-top: 20px;">
        <div class="form-group" >
            <label>Your Name</label>
            <input type="text" class="form-control" placeholder="enter name" formControlName="name"><br>
          </div>
          <div class="form-group">
            <label>Your Email</label>
            <input type="text" class="form-control" placeholder="enter email" formControlName="email"><br>
        </div>
        <div class="form-group">
            <label>Your Contact</label>
            <input type="text" class="form-control"  placeholder="enter mobile" formControlName="phone"><br>
        </div>
        Gender
        <div class="form-check">
          <input type="radio" class="form-check-input" id="radio1" formControlName="gender" value="male" checked>Male
          <label class="form-check-label" for="radio1"></label>
        </div>
        <div class="form-check">
          <input type="radio" class="form-check-input" id="radio2" formControlName="gender" value="female">Female
          <label class="form-check-label" for="radio2"></label>
        </div>
      
       
        <div class="form-group row">
            <label for="Category" class="col-form-label">Category</label>
            <div class="">
            <select class="form-select" aria-label="Default select example" formControlName="category">
            <option selected >General</option>
            <option value="1">SC/ST</option>
            <option value="2">OBC</option>
            </select>
            </div>
        </div>
        <br>
        <div class="form-group">
            <label>Technologies</label>
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="check1" name="option1" value="something" formControlName="technologiesC">
                <label class="form-check-label" for="check1">C</label>
              </div>
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="check2" name="option2" value="something" formControlName="technologiesCpp">
                <label class="form-check-label" for="check2">C++</label>
              </div>
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="check2" name="option2" value="something" formControlName="technologiesJ">
                <label class="form-check-label" for="check2">Java</label>
              </div>
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="check2" name="option2" value="something" formControlName="technologiesP">
                <label class="form-check-label" for="check2">Python</label>
              </div>
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="check2" name="option2" value="something" formControlName="technologiesJs">
                <label class="form-check-label" for="check2">JavaScript</label>
              </div>
        </div>  
        <div class="form-group input-group">
            <div class="custom-file">
                <label>Profile Picture</label><br>
              <input type="file"  accept="image/*" formControlName="photo"  class="custom-file-input" id="inputGroupFile01"
                aria-describedby="inputGroupFileAddon01">
            </div>
        </div>
        <br>
        <button class="btn-success" >Register</button>
        <!-- [disabled]="!registerForm.valid" -->
    </form>
</div>
<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle}">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Review Details</h4>
      </div>
      <div class="modal-body">
        Name:<p>{{registerForm.value.name}}</p><br>
        Email:<p>{{registerForm.value.email}}</p><br>
        Contact:<p>{{registerForm.value.phone}}</p><br>
        Category:<p>{{registerForm.value.category}}</p><br>
        Technlogies:<p *ngIf="registerForm.value.technologiesC">C</p>
        <p *ngIf="registerForm.value.technologiesCpp">C++</p>
        <p *ngIf="registerForm.value.technologiesJ">Java</p>
        <p *ngIf="registerForm.value.technologiesP">Python</p>
        <p *ngIf="registerForm.value.technologiesJs">JavaScript</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" 
                (click)="subFinal()">
          Submit
        </button>
        <button type="button" class="btn btn-danger" 
                (click)="closePopup()">
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>
